<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      
      <!--<ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
        <li><button type="button" class="btn btn-primary" (click)="handleClick('login')">Login</button></li>
        <li><button type="button" class="btn btn-primary"  (click)="handleClick('register')">Register</button></li>
      </ul>-->
      <!--<ul class="nav navbar-nav navbar-right" *ngIf="!showLogout">
        <li><button type="button" class="btn btn-primary" (click)="handleClick('login')">Login</button></li>
        <li><button type="button" class="btn btn-primary"  (click)="handleClick('register')">Register</button></li>
      </ul>
       <ul class="nav navbar-nav navbar-right" *ngIf="showLogout">
        <li><button type="button" class="btn btn-primary" (click)="logout()">Logout</button></li>
        
      </ul>-->

      <ul class="nav navbar-nav navbar-right" *ngIf="!showLogout">
        <li><button type="button" class="btn btn-primary" routerLink="/login">Login</button></li>
        <li><button type="button" class="btn btn-primary"  routerLink="/register">Register</button></li>
      </ul>
       <ul class="nav navbar-nav navbar-right" *ngIf="showLogout">
        <li><button type="button" class="btn btn-primary" (click)="logout()">Logout</button></li>
        
      </ul>
      
    </div>
  </div>
</nav>
<!--<div *ngIf="pageName=='register'">
<app-register [heading]="pageName" (registered)= "handleChange($event)"></app-register>
</div>
<div *ngIf="pageName=='login'">
<app-login></app-login>
</div>

<div *ngIf="pageName=='home'">
  <div>{{confirmMessage}}</div>
<app-home></app-home>
</div>-->
<router-outlet></router-outlet>